<label>
<input type="checkbox" 
       {{#if completed}} checked {{/if}} 
       name="completed"> 
<a href="/todos/{{id}}" class="spa-route" >{{title}}</a>
</label>
<button class="removeTodo">delete</button>